<%- include('../partials/header') %>

<div class="container justify-content-center mt-5 blog-container py-2">
    <h1 class="text-center">New Blog</h1>
    
    <div class="container">
        <form action="/blogs" method="POST">
            <div class="form-group">
                <label for="title">Blog Title</label>
                <input class="form-control" type="text" name="blog[title]" id="title" required autocomplete="off" autofocus>
            </div>
            <div class="form-group">
                <label for="content">Blog Content</label>
                <textarea class="form-control" name="blog[content]" id="content" cols="30" rows="10" required></textarea>
    
            </div>
            
            <a href="/blogs" class="btn btn-warning">Go Back</a>
            <button class="btn btn-primary">Create Blog</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>